In [2]:
import numpy as np
import pandas as pd
import seaborn as sns

In [ ]:
#D:\Work\Dự án Đh Kyungpook\Tuan4\Data\owid-covid-data.csv

In [3]:
CovidWorld = pd.read_csv("D:\\Work\\Dự án Đh Kyungpook\\Tuan4\\Data\\owid-covid-data.csv")
display(CovidWorld.head(10))
print(CovidWorld.columns)

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
0,AFG,Asia,Afghanistan,2020-02-24,5.0,5.0,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
1,AFG,Asia,Afghanistan,2020-02-25,5.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
2,AFG,Asia,Afghanistan,2020-02-26,5.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
3,AFG,Asia,Afghanistan,2020-02-27,5.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
4,AFG,Asia,Afghanistan,2020-02-28,5.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
5,AFG,Asia,Afghanistan,2020-02-29,5.0,0.0,0.714,NaN,NaN,0.0,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
6,AFG,Asia,Afghanistan,2020-03-01,5.0,0.0,0.714,NaN,NaN,0.0,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
7,AFG,Asia,Afghanistan,2020-03-02,5.0,0.0,0.000,NaN,NaN,0.0,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
8,AFG,Asia,Afghanistan,2020-03-03,5.0,0.0,0.000,NaN,NaN,0.0,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
9,AFG,Asia,Afghanistan,2020-03-04,5.0,0.0,0.000,NaN,NaN,0.0,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN

Index(['iso_code', 'continent', 'location', 'date', 'total_cases', 'new_cases',
       'new_cases_smoothed', 'total_deaths', 'new_deaths',
       'new_deaths_smoothed', 'total_cases_per_million',
       'new_cases_per_million', 'new_cases_smoothed_per_million',
       'total_deaths_per_million', 'new_deaths_per_million',
       'new_deaths_smoothed_per_million', 'reproduction_rate', 'icu_patients',
       'icu_patients_per_million', 'hosp_patients',
       'hosp_patients_per_million', 'weekly_icu_admissions',
       'weekly_icu_admissions_per_million', 'weekly_hosp_admissions',
       'weekly_hosp_admissions_per_million', 'new_tests', 'total_tests',
       'total_tests_per_thousand', 'new_tests_per_thousand',
       'new_tests_smoothed', 'new_tests_smoothed_per_thousand',
       'positive_rate', 'tests_per_case', 'tests_units', 'total_vaccinations',
       'people_vaccinated', 'people_fully_vaccinated', 'total_boosters',
       'new_vaccinations', 'new_vaccinations_smoothed',
       'total_vaccinations_per_hundred', 'people_vaccinated_per_hundred',
       'people_fully_vaccinated_per_hundred', 'total_boosters_per_hundred',
       'new_vaccinations_smoothed_per_million',
       'new_people_vaccinated_smoothed',
       'new_people_vaccinated_smoothed_per_hundred', 'stringency_index',
       'population', 'population_density', 'median_age', 'aged_65_older',
       'aged_70_older', 'gdp_per_capita', 'extreme_poverty',
       'cardiovasc_death_rate', 'diabetes_prevalence', 'female_smokers',
       'male_smokers', 'handwashing_facilities', 'hospital_beds_per_thousand',
       'life_expectancy', 'human_development_index',
       'excess_mortality_cumulative_absolute', 'excess_mortality_cumulative',
       'excess_mortality', 'excess_mortality_cumulative_per_million'],
      dtype='object')

In [3]:
CovidWorld = pd.read_csv("D:\\Work\\Dự án Đh Kyungpook\\Tuan4\\Data\\owid-covid-data.csv",
                         usecols = ['location','date','total_cases','total_deaths','people_vaccinated','population'])
display(CovidWorld.head(-10))
print(f"Min total_cases in world: {CovidWorld['total_cases'].min()}")
print(f"Max total_cases in world: {CovidWorld['total_cases'].max()}")
GroupbyCountry = CovidWorld[['location','total_cases','total_deaths']].groupby('location').sum()

#ToCSVWorld = GroupbyCountry.to_csv("D:\\Work\\Dự án Đh Kyungpook\\Tuan4\\Data\\Các nước\\World.csv")

,location,date,total_cases,total_deaths,people_vaccinated,population
0,Afghanistan,2020-02-24,5.0,NaN,NaN,39835428.0
1,Afghanistan,2020-02-25,5.0,NaN,NaN,39835428.0
2,Afghanistan,2020-02-26,5.0,NaN,NaN,39835428.0
3,Afghanistan,2020-02-27,5.0,NaN,NaN,39835428.0
4,Afghanistan,2020-02-28,5.0,NaN,NaN,39835428.0
...,...,...,...,...,...,...
136448,Zimbabwe,2021-11-14,133428.0,4696.0,3469198.0,15092171.0
136449,Zimbabwe,2021-11-15,133438.0,4697.0,3484207.0,15092171.0
136450,Zimbabwe,2021-11-16,133505.0,4698.0,3515140.0,15092171.0
136451,Zimbabwe,2021-11-17,133557.0,4699.0,NaN,15092171.0
136452,Zimbabwe,2021-11-18,133593.0,4699.0,3583256.0,15092171.0

Min total_cases in world: 1.0
Max total_cases in world: 261504022.0

In [5]:
CovidWorld1 = CovidWorld[CovidWorld['location'] == "World"]
display(CovidWorld1.head(-10))
ToCSVWorld = CovidWorld1.to_csv("D:\\Work\\Dự án Đh Kyungpook\\Tuan4\\Data\\Các nước\\World.csv",index = False)

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
133948,OWID_WRL,NaN,World,2020-01-22,557.0,0.0,NaN,17.0,0.0,NaN,...,6.434,34.635,60.13,2.705,72.58,0.737,NaN,NaN,NaN,NaN
133949,OWID_WRL,NaN,World,2020-01-23,655.0,98.0,NaN,18.0,1.0,NaN,...,6.434,34.635,60.13,2.705,72.58,0.737,NaN,NaN,NaN,NaN
133950,OWID_WRL,NaN,World,2020-01-24,941.0,286.0,NaN,26.0,8.0,NaN,...,6.434,34.635,60.13,2.705,72.58,0.737,NaN,NaN,NaN,NaN
133951,OWID_WRL,NaN,World,2020-01-25,1434.0,493.0,NaN,42.0,16.0,NaN,...,6.434,34.635,60.13,2.705,72.58,0.737,NaN,NaN,NaN,NaN
133952,OWID_WRL,NaN,World,2020-01-26,2118.0,684.0,NaN,56.0,14.0,NaN,...,6.434,34.635,60.13,2.705,72.58,0.737,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
134610,OWID_WRL,NaN,World,2021-11-14,253770095.0,351443.0,489549.286,5101106.0,4545.0,7247.714,...,6.434,34.635,60.13,2.705,72.58,0.737,NaN,NaN,NaN,NaN
134611,OWID_WRL,NaN,World,2021-11-15,254310598.0,540503.0,498408.714,5107842.0,6736.0,7249.000,...,6.434,34.635,60.13,2.705,72.58,0.737,NaN,NaN,NaN,NaN
134612,OWID_WRL,NaN,World,2021-11-16,254837039.0,526441.0,504601.143,5115473.0,7631.0,7167.571,...,6.434,34.635,60.13,2.705,72.58,0.737,NaN,NaN,NaN,NaN
134613,OWID_WRL,NaN,World,2021-11-17,255461905.0,624866.0,511813.000,5124615.0,9142.0,7310.143,...,6.434,34.635,60.13,2.705,72.58,0.737,NaN,NaN,NaN,NaN
134614,OWID_WRL,NaN,World,2021-11-18,256075033.0,613128.0,525675.143,5132833.0,8218.0,7401.714,...,6.434,34.635,60.13,2.705,72.58,0.737,NaN,NaN,NaN,NaN

In [ ]:
#D:\Work\Dự án Đh Kyungpook\Tuan4\Data\Các nước

In [5]:
#Vietnam
CovidVietnam = CovidWorld[CovidWorld['location'] == 'Vietnam']
print(f"Min total_cases in Viet Nam: {CovidVietnam['total_cases'].min()}")
print(f"Max total_cases in Viet Nam: {CovidVietnam['total_cases'].max()}")
print(f"Population: {CovidVietnam['population'].unique()}")
display(CovidVietnam.head(-10))
ToCSVVN = CovidVietnam.to_csv("D:\\Work\\Dự án Đh Kyungpook\\Tuan4\\Data\\Các nước\\Vietnam.csv", index = False)

Min total_cases in Viet Nam: 2.0
Max total_cases in Viet Nam: 1210340.0
Population: [98168829.]

,location,date,total_cases,total_deaths,people_vaccinated,population
133027,Vietnam,2020-01-23,2.0,NaN,NaN,98168829.0
133028,Vietnam,2020-01-24,2.0,NaN,NaN,98168829.0
133029,Vietnam,2020-01-25,2.0,NaN,NaN,98168829.0
133030,Vietnam,2020-01-26,2.0,NaN,NaN,98168829.0
133031,Vietnam,2020-01-27,2.0,NaN,NaN,98168829.0
...,...,...,...,...,...,...
133688,Vietnam,2021-11-14,1026522.0,23082.0,64467940.0,98168829.0
133689,Vietnam,2021-11-15,1035138.0,23183.0,64767521.0,98168829.0
133690,Vietnam,2021-11-16,1045397.0,23270.0,65222953.0,98168829.0
133691,Vietnam,2021-11-17,1055246.0,23337.0,65772961.0,98168829.0
133692,Vietnam,2021-11-18,1065469.0,23476.0,NaN,98168829.0

In [28]:
#Korea

In [6]:
CovidKorea = CovidWorld[CovidWorld['location'] == 'South Korea']
display(CovidKorea.head(-10))
print(f"Min total_cases in Viet Nam: {CovidKorea['total_cases'].min()}")
print(f"Max total_cases in Viet Nam: {CovidKorea['total_cases'].max()}")
print(f"Population: {CovidKorea['population'].unique()}")
ToCSVS_KOREA = CovidKorea.to_csv("D:\\Work\\Dự án Đh Kyungpook\\Tuan4\\Data\\Các nước\\South Korea.csv",index = False)

,location,date,total_cases,total_deaths,people_vaccinated,population
113670,South Korea,2020-01-21,NaN,NaN,NaN,51305184.0
113671,South Korea,2020-01-22,1.0,NaN,NaN,51305184.0
113672,South Korea,2020-01-23,1.0,NaN,NaN,51305184.0
113673,South Korea,2020-01-24,2.0,NaN,NaN,51305184.0
113674,South Korea,2020-01-25,2.0,NaN,NaN,51305184.0
...,...,...,...,...,...,...
114333,South Korea,2021-11-14,397466.0,3115.0,41981590.0,51305184.0
114334,South Korea,2021-11-15,399591.0,3137.0,42044129.0,51305184.0
114335,South Korea,2021-11-16,402775.0,3158.0,42078118.0,51305184.0
114336,South Korea,2021-11-17,406065.0,3187.0,42124051.0,51305184.0
114337,South Korea,2021-11-18,409099.0,3215.0,42169435.0,51305184.0

Min total_cases in Viet Nam: 1.0
Max total_cases in Viet Nam: 444200.0
Population: [51305184.]