In [1]:
import numpy as np
import pandas as pd
import seaborn as sns

In [ ]:
#D:\Work\Dự án Đh Kyungpook\Tuan4\Data\owid-covid-data.csv

In [2]:
CovidWorld = pd.read_csv("D:\\Work\\Dự án Đh Kyungpook\\Tuan4\\Data\\owid-covid-data.csv")
display(CovidWorld.head(10))
print(CovidWorld.columns)

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
0,AFG,Asia,Afghanistan,2020-02-24,5.0,5.0,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
1,AFG,Asia,Afghanistan,2020-02-25,5.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
2,AFG,Asia,Afghanistan,2020-02-26,5.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
3,AFG,Asia,Afghanistan,2020-02-27,5.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
4,AFG,Asia,Afghanistan,2020-02-28,5.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
5,AFG,Asia,Afghanistan,2020-02-29,5.0,0.0,0.714,NaN,NaN,0.0,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
6,AFG,Asia,Afghanistan,2020-03-01,5.0,0.0,0.714,NaN,NaN,0.0,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
7,AFG,Asia,Afghanistan,2020-03-02,5.0,0.0,0.000,NaN,NaN,0.0,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
8,AFG,Asia,Afghanistan,2020-03-03,5.0,0.0,0.000,NaN,NaN,0.0,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
9,AFG,Asia,Afghanistan,2020-03-04,5.0,0.0,0.000,NaN,NaN,0.0,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN

Index(['iso_code', 'continent', 'location', 'date', 'total_cases', 'new_cases',
       'new_cases_smoothed', 'total_deaths', 'new_deaths',
       'new_deaths_smoothed', 'total_cases_per_million',
       'new_cases_per_million', 'new_cases_smoothed_per_million',
       'total_deaths_per_million', 'new_deaths_per_million',
       'new_deaths_smoothed_per_million', 'reproduction_rate', 'icu_patients',
       'icu_patients_per_million', 'hosp_patients',
       'hosp_patients_per_million', 'weekly_icu_admissions',
       'weekly_icu_admissions_per_million', 'weekly_hosp_admissions',
       'weekly_hosp_admissions_per_million', 'new_tests', 'total_tests',
       'total_tests_per_thousand', 'new_tests_per_thousand',
       'new_tests_smoothed', 'new_tests_smoothed_per_thousand',
       'positive_rate', 'tests_per_case', 'tests_units', 'total_vaccinations',
       'people_vaccinated', 'people_fully_vaccinated', 'total_boosters',
       'new_vaccinations', 'new_vaccinations_smoothed',
       'total_vaccinations_per_hundred', 'people_vaccinated_per_hundred',
       'people_fully_vaccinated_per_hundred', 'total_boosters_per_hundred',
       'new_vaccinations_smoothed_per_million',
       'new_people_vaccinated_smoothed',
       'new_people_vaccinated_smoothed_per_hundred', 'stringency_index',
       'population', 'population_density', 'median_age', 'aged_65_older',
       'aged_70_older', 'gdp_per_capita', 'extreme_poverty',
       'cardiovasc_death_rate', 'diabetes_prevalence', 'female_smokers',
       'male_smokers', 'handwashing_facilities', 'hospital_beds_per_thousand',
       'life_expectancy', 'human_development_index',
       'excess_mortality_cumulative_absolute', 'excess_mortality_cumulative',
       'excess_mortality', 'excess_mortality_cumulative_per_million'],
      dtype='object')

In [9]:
CovidWorld = pd.read_csv("D:\\Work\\Dự án Đh Kyungpook\\Tuan4\\Data\\owid-covid-data.csv",
                         usecols = ['location','date','total_cases','total_deaths','people_vaccinated','population'])
display(CovidWorld.head(5))
print(f"Min total_cases in world: {CovidWorld['total_cases'].min()}")
print(f"Max total_cases in world: {CovidWorld['total_cases'].max()}")
GroupbyCountry = CovidWorld[['location','total_cases','total_deaths']].groupby('location').sum()
# print(f"World population: {GroupbyCountry['population'].sum()}")
# print(f"Infected: {GroupbyCountry['total_cases'].max()}")
#ToCSVWorld = GroupbyCountry.to_csv("D:\\Work\\Dự án Đh Kyungpook\\Tuan4\\Data\\Các nước\\World.csv")

,location,date,total_cases,total_deaths,hosp_patients,people_vaccinated,population
0,Afghanistan,2020-02-24,5.0,NaN,NaN,NaN,39835428.0
1,Afghanistan,2020-02-25,5.0,NaN,NaN,NaN,39835428.0
2,Afghanistan,2020-02-26,5.0,NaN,NaN,NaN,39835428.0
3,Afghanistan,2020-02-27,5.0,NaN,NaN,NaN,39835428.0
4,Afghanistan,2020-02-28,5.0,NaN,NaN,NaN,39835428.0

Min total_cases in world: 1.0
Max total_cases in world: 261504022.0

In [ ]:
#D:\Work\Dự án Đh Kyungpook\Tuan4\Data\Các nước

In [10]:
#Vietnam
CovidVietnam = CovidWorld[CovidWorld['location'] == 'Vietnam']
print(f"Min total_cases in Viet Nam: {CovidVietnam['total_cases'].min()}")
print(f"Max total_cases in Viet Nam: {CovidVietnam['total_cases'].max()}")
print(f"Population: {CovidVietnam['population'].unique()}")
display(CovidVietnam.head(-10))
ToCSVVN = CovidVietnam.to_csv("D:\\Work\\Dự án Đh Kyungpook\\Tuan4\\Data\\Các nước\\Vietnam.csv", index = False)

Min total_cases in Viet Nam: 2.0
Max total_cases in Viet Nam: 1210340.0
Population: [98168829.]

,location,date,total_cases,total_deaths,hosp_patients,people_vaccinated,population
133027,Vietnam,2020-01-23,2.0,NaN,NaN,NaN,98168829.0
133028,Vietnam,2020-01-24,2.0,NaN,NaN,NaN,98168829.0
133029,Vietnam,2020-01-25,2.0,NaN,NaN,NaN,98168829.0
133030,Vietnam,2020-01-26,2.0,NaN,NaN,NaN,98168829.0
133031,Vietnam,2020-01-27,2.0,NaN,NaN,NaN,98168829.0
...,...,...,...,...,...,...,...
133688,Vietnam,2021-11-14,1026522.0,23082.0,NaN,64467940.0,98168829.0
133689,Vietnam,2021-11-15,1035138.0,23183.0,NaN,64767521.0,98168829.0
133690,Vietnam,2021-11-16,1045397.0,23270.0,NaN,65222953.0,98168829.0
133691,Vietnam,2021-11-17,1055246.0,23337.0,NaN,65772961.0,98168829.0
133692,Vietnam,2021-11-18,1065469.0,23476.0,NaN,NaN,98168829.0

In [28]:
#Korea

In [11]:
CovidKorea = CovidWorld[CovidWorld['location'] == 'South Korea']
display(CovidKorea.head(-10))
print(f"Min total_cases in Viet Nam: {CovidKorea['total_cases'].min()}")
print(f"Max total_cases in Viet Nam: {CovidKorea['total_cases'].max()}")
print(f"Population: {CovidKorea['population'].unique()}")
ToCSVS_KOREA = CovidKorea.to_csv("D:\\Work\\Dự án Đh Kyungpook\\Tuan4\\Data\\Các nước\\South Korea.csv",index = False)

,location,date,total_cases,total_deaths,hosp_patients,people_vaccinated,population
113670,South Korea,2020-01-21,NaN,NaN,NaN,NaN,51305184.0
113671,South Korea,2020-01-22,1.0,NaN,NaN,NaN,51305184.0
113672,South Korea,2020-01-23,1.0,NaN,NaN,NaN,51305184.0
113673,South Korea,2020-01-24,2.0,NaN,NaN,NaN,51305184.0
113674,South Korea,2020-01-25,2.0,NaN,NaN,NaN,51305184.0
...,...,...,...,...,...,...,...
114333,South Korea,2021-11-14,397466.0,3115.0,NaN,41981590.0,51305184.0
114334,South Korea,2021-11-15,399591.0,3137.0,NaN,42044129.0,51305184.0
114335,South Korea,2021-11-16,402775.0,3158.0,NaN,42078118.0,51305184.0
114336,South Korea,2021-11-17,406065.0,3187.0,NaN,42124051.0,51305184.0
114337,South Korea,2021-11-18,409099.0,3215.0,NaN,42169435.0,51305184.0

Min total_cases in Viet Nam: 1.0
Max total_cases in Viet Nam: 444200.0
Population: [51305184.]